@import url("/css/theme.css");

html,
body {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--black);
  font-family: var(--font-family);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.page_wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "🔼 🔼" "👈 📄";
}

.up {
  padding: 5px;
  grid-area: 🔼;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  display: grid;
  justify-content: start;
  align-items: center;
  grid-auto-flow: column;
}

.nav_logo {
  height: 60px;
}

.left {
  grid-area: 👈;
  overflow-y: scroll;
}
.left > ul {
  margin-right: 10px;
}

.content {
  grid-area: 📄;
  padding: 10px;
  position: relative;
}

.left li {
  list-style: none;
  color: grey;
  margin-top: 5px;
}

.left a {
  text-decoration: none;
  color: inherit;
}

.section_wrapper {
  font-size: 1rem;
}

.content_link {
  font-size: 0.8rem;
  text-decoration: none;
}

.active,
.secActive {
  font-weight: bold;
  color: green;
}

.code_execute_example {
  padding: 10px;
  font-size: 1.3rem;
  background: rgba(0, 0, 0, 0.05);
  margin: 10px;
}

.hide + ul {
  display: none;
}

.about {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.avatar {
  background: #bada55;
  border-radius: 50%;
  padding: 10px;
}

#section {
  margin: 20px 0;
}

.tab {
  padding: 10px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.tab-button {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px;
  border: 1px solid grey;
  margin-bottom: -1px;
  margin-right: -1px;
}
.tab-button.active {
  background: white;
}

.tab-button:hover {
  background: rgba(0, 0, 0, 0.25);
}

.text-danger {
  color: red;
}
