<div>
  <div id="app" class="code_execute_example">
    <input v-model='message' placeholder='edit me'>
    <p>{{message}}</p>
    <hr>
    <span>Multiline message is</span>
    <p style="white-space: pre-line">{{messageMultiline}}</p>
    <textarea placeholder="multiline message" v-model='messageMultiline'></textarea>
    <hr>
    <select v-model='selected'>
      <option disabled value=''> Please select one</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <span>Selected: {{selected}}</span>
  </div>

  <script src="/js/basic_usage.js" defer></script>
</div>