<div>
  <div id="app" class="code_execute_example">
    <form @submit.prevent='addNewTodo'>
      <label for="todo">Todo</label>
      <input placeholder="enter your todo" v-model='newTodoText' id="todo" name="todo">
      <button type="submit">Add Todo</button>
    </form>
    <ul>
      <li is='todo-item' v-for='(todo,index) in todos' :title='todo.title' @remove='todos.splice(index,1)' :key='todo.id'></li>
    </ul>
  </div>

  <script src="/js/v-for_with_a_component.js" defer></script>
</div>