<div>
  <div id="app" class="code_execute_example">
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>
    <button @click='toggleOk'>Toggle</button>
    <hr>
    <div v-if="Math.random()>0.5">Now you see me</div>
    <div v-else>Now you don't</div>
    <hr>
    <template v-if="currentLoginType==='username'">
      <label for="username">Username</label>
      <input name='username' id="username" placeholder="enter your username" key='username'>
    </template>
    <template v-else>
      <label for="email">Email</label>
      <input name='Email' id="Email" placeholder="enter your e-mail" key='email'>
    </template>
    <button @click='toggleLoginType'>Toggle login type</button>
  </div>

  <script src="/js/v-if.js" defer></script>
</div>